<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sci-sec-report.css}">
    <title>MNU</title>
</head>
<body>
<div th:if="${error}" th:text="${error}" class="flash flash_error"></div>
<div class="grid">
    <div class="flex-row-left header">
        <a th:href="@{/}">
            <img alt="back" th:src="@{/images/back.png}" class="button button_back button_round">
        </a>
    </div>
    <form id="report-form" action="#" th:action="@{/sec/report}" th:object="${form}" method="post"
          class="grid__inputs-top flex-column">
        <label class="form-item">
            <b>Experiment id</b>
            <input required id="incidentId" name="incidentId" th:value="${param.id}" readonly class="input_big">
        </label>
        <label class="form-item">
            <b>Did you confiscate a weapon?</b>
            <select id="isNew" name="isNew" class="input_big">
                <option value="0"> No</option>
                <option value="1"> Yes</option>
                <option value="2"> Yes, a brand-new one</option>
            </select>
        </label>
    </form>
    <div class="flex-column grid__inputs-bottom">
        <label id="weapon-id-label" class="form-item hidden">
            <b> Weapon Id</b>
            <input form="report-form" type="number" id="weaponId" name="weaponId" class="input_big">
        </label>
        <label id="weapon-quantity-label" class="form-item hidden">
            <b> Quantity</b>
            <input form="report-form" type="number" id="weaponQuantity1" name="weaponQuantity1" class="input_big">
        </label>
        <label class="form-item">
            <b>Report</b>
            <textarea form="report-form" required id="result" name="result" class="text-area_big input_big"></textarea>
        </label>
        <input form="report-form" type="submit" class="button form-item" value="Submit report">
    </div>
    <div id="weapons-table" class="grid__weapons-table hidden">
        <table>
            <thead>
            <tr>
                <td> Id</td>
                <td> Name</td>
                <td> Type</td>
                <td> Description</td>
            </tr>
            </thead>
            <tbody id="weapons-tbody">
            <tr th:each="weapon : ${weapons}" th:attr="data-id=${weapon.id}">
                <td th:text="${weapon.id}"></td>
                <td th:text="${weapon.name}"></td>
                <td th:text="${weapon.type}"></td>
                <td th:text="${weapon.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="weapons-form" class="flex-column grid__weapons-form hidden">
        <b class="form-item">New weapon</b>
        <label class="form-item_small">
            <b>Name</b>
            <input class="input_big" id="weaponName" name="weaponName" form="report-form">
        </label>
        <label class="form-item_small">
            <b>Type</b>
            <select form="report-form" id="weaponType" name="weaponType" class="input_big">
                <option value="melee"> Melee</option>
                <option value="pistol"> Pistol</option>
                <option value="submachine_gun"> Submachine gun</option>
                <option value="assault_rifle"> Assault rifle</option>
                <option value="light_machine_gun"> Light machine gun</option>
                <option value="sniper_rifle"> Sniper rifle</option>
                <option value="alien"> Alien</option>
            </select>
        </label>
        <label class="form-item_small">
            <b>Description</b>
            <input class="input_big" id="weaponDescription" name="weaponDescription" form="report-form">
        </label>
        <label class="form-item_small">
            <b>Price</b>
            <input class="input_big" id="weaponPrice" name="weaponPrice" type="number" min="0" form="report-form">
        </label>
        <label class="form-item_small">
            <b>Level</b>
            <input class="input_big" id="weaponLevel" name="weaponLevel" type="number" min="1" max="10" step="1"
                   form="report-form">
        </label>
        <label class="form-item_small">
            <b>Quantity</b>
            <input class="input_big" id="weaponQuantity2" name="weaponQuantity2" type="number" min="1" step="1"
                   form="report-form">
        </label>
    </div>
</div>
<script rel="script" type="text/javascript" th:src="@{/js/security/sec__report.js}"></script>
</body>
</html>