<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/managers/manager__menu.css}">
    <title>MNU</title>
</head>
<body>
<div class="managers-grid">
    <div class="managers-grid__header">
        <div class="employee-info">
            <div th:text="${fullname}"></div>
            <div th:text="${'Level ' + level}"></div>
        </div>
        <img alt="Clients list" class="clientsListButton" th:src="@{/images/human_list_icon.png}">
        <img alt="Prawns list" class="prawnsListButton" th:src="@{/images/alien_list_icon.png}">
    </div>
    <div class="managers-grid__buttons flexColumn">
        <a class="flex-column grid-button button">Purchase requests</a>
        <a th:href="@{/prawnRegister}"
           class="flex-column administrators-menu-grid__prawn-registration grid-button button">Prawns
            registrations</a>
        <a class="flex-column administrators-menu-grid__synthesized-confiscated-weapons grid-button button">Synthesized
            & confiscated weapons</a>
        <a class="flex-column administrators-menu-grid__prawn-job-applications grid-button button">Prawns'
            job applications</a>
        <a class="flex-column grid-button button">Equipment
            change</a>
    </div>
</div>
</body>
</html>