<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/managers/manager__menu.css}">
    <title>MNU</title>
</head>
<body>
<div class="managers-grid">
    <div class="managers-grid__header">
        <div class="employee-info"> Name Surname <br> Level: x</div>
    </div>
    <div class="managers-grid__buttons flexColumn">
        <a class="flex-column grid-button button button_unpressed">Purchase requests</a>
        <a th:href="@{/prawnRegister}"
           class="flex-column administrators-menu-grid__prawn-registration grid-button button button_unpressed">Prawns
            registrations</a>
        <a class="flex-column administrators-menu-grid__synthesized-confiscated-weapons grid-button button button_unpressed">Synthesized
            & confiscated weapons</a>
        <a class="flex-column administrators-menu-grid__prawn-job-applications grid-button button button_unpressed">Prawns'
            job applications</a>
        <a class="flex-column grid-button button button_unpressed">Equipment
            change</a>
    </div>
</div>
</body>
</html>