@import "../common.css";

body {
    margin: 0;
}

.button_profile {
    margin: initial;
}

.change-button {
    margin-right: 30px;
}

.content {
    text-align: center;
    margin-top: 84px;
}

.content__item {
    margin: 20px auto auto auto;
    border: 2px solid black;
    width: 70%;
}

.content__header {
    padding: 12px 12px 10px;
    border-bottom: 2px solid;
    display: flex;
}

.header-text {
    width: 100%;
    line-height: 22px;
}

.content__main {
    word-break: break-word;
    text-align: left;
    padding: 12px;
}

@media (max-width: 1000px) {
    .content__item {
        width: 80%
    }
}

@media (max-width: 700px) {
    .content__item {
        width: 92%
    }
}

@media (max-width: 360px) {
    .change-button {
        font-size: 18px;
    }
}