@import url("../common.css");

.header {
    grid-area: header;
}

.grid {
    display: grid;
    grid: "header header" 80px "inputs table";
    padding: 0 5px;
}

.grid__inputs {
    grid-area: inputs;
    margin-top: 10px;
}

.text-area_big {
    min-height: 200px;
}

.input_big {
    width: 350px;
}

.grid__assistants-table {
    grid-area: table;
    margin-top: 30px;
}

.grid__assistants-table table {
    margin: auto;
    border-collapse: collapse;
}

.grid__assistants-table td {
    padding: 4px 10px;
    border: 1px solid black;
}

#assistants-tbody {
    cursor: pointer;
}

.grid__assistants-button {
    display: none;
}

@media (max-width: 750px) {
    .grid {
        grid: "header" 80px "inputs";
        padding: 0;
    }

    .grid__assistants-table {
        display: none;
    }

    .grid__assistants-button {
        display: block;
    }
}

@media (max-width: 350px) {
    body {
        margin: 5px;
    }

    .input_big {
        width: 80vw;
    }

    .button:not(.button_round) {
        width: 80vw;
    }
}