 @import url("../common.css");

.header {
    grid-area: header;
}

.grid {
    display: grid;
    grid: "header header" 80px "inputs weapons";
    padding: 0 5px;
}

.grid__inputs {
    grid-area: inputs;
    margin-top: 10px;
}

.text-area_big {
    min-height: 200px;
}

.input_big {
    width: 350px;
}

.grid__weapons-table {
    grid-area: weapons;
    margin-top: 30px;
}

.grid__weapons-table table {
    margin: auto;
    border-collapse: collapse;
}

.grid__weapons-table td {
    padding: 4px 10px;
    border: 1px solid black;
}

.grid__weapons-form {
    grid-area: weapons;
}

#weapons-tbody {
    cursor: pointer;
}

@media (max-width: 750px) {
    .grid {
        grid: "header" 80px "inputs";
        padding: 0;
    }
}

@media (max-width: 350px) {
    body {
        margin: 5px;
    }

    .input_big {
        width: 80vw;
    }

    .button:not(.button_round) {
        width: 80vw;
    }
}