@import "../common.css";

.header {
    grid-area: header;
}

.grid {
    display: grid;
    grid: "header header" 80px "inputs-top assistants" "inputs-bottom assistants";
    padding: 0 5px;
}

.grid__inputs-top {
    grid-area: inputs-top;
    margin-top: 10px;
}

.grid__inputs-bottom {
    text-align: left;
    grid-area: inputs-bottom;
}

.text-area_big {
    min-height: 100px;
}

.grid__assistants-table {
    grid-area: assistants;
    max-height: 300px;
    margin-top: 30px;
}

.grid__assistants-table table {
    margin: auto;
    border-collapse: collapse;
}

.grid__assistants-table td {
    padding: 4px 10px;
    word-break: break-word;
    border: 1px solid black;
}

.input_big {
    display: block;
    font-size: 16px;
    height: 30px;
    width: 300px;
}

#assistants-tbody {
    cursor: pointer;
}

.grid__assistants-button {
    display: none;
}

@media (max-width: 750px) {
    .grid {
        grid: "header" 80px "inputs-top" "assistants" "inputs-bottom";
        padding: 0;
    }

    .grid__assistants-table {
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    body {
        margin: 5px;
    }

    .input_big {
        width: 80vw;
    }

    .button:not(.button_round) {
        width: 80vw;
    }
}