body {
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
}

.employee-header {
    grid-area: header;
}

.scientists-grid {
    display: grid;
    grid: "header expButton artButton addButton" 50px "content content content content";
    grid-template-columns: 2fr 3fr 2.5fr 2.5fr;
    padding: 5px;
}

.employee-info {
    margin: auto 0 auto 0;
}

.grid-button {
    margin: auto;
    text-align: center;
    font-size: 24px;
    width: 220px;
}

.scientists-grid__experiments {
    grid-area: expButton;
    margin-right: 20px;
}

.scientists-grid__articles {
    grid-area: artButton;
    margin-left: 20px;
}

.scientists-grid__add {
    grid-area: addButton;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input_big {
    font-size: 16px;
    height: 25px;
}

.button {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px 22px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.button_unpressed {
    box-shadow: 0 5px #cacaca;
    background: white;
}

.button_unpressed:hover {
    top: 2px;
    box-shadow: 0 3px #cacaca;
}

.button_unpressed:active {
    top: 5px;
    box-shadow: none;
}

.button_pressed {
    outline: none;
    background: lightgreen;
    cursor: default;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

@media (max-width: 1200px) {
    .scientists-grid {
        grid-template-columns: 2fr 3fr 2.5fr 2.5fr;
    }

    .grid-button {
        width: 180px;
        font-size: 22px;
    }

    .scientists-grid__experiments {
        margin-right: 5px;
    }

    .scientists-grid__articles {
        margin-left: 5px;
    }

    .scientists-grid__add {
        width: 120px;
    }
}

@media (max-width: 1000px) {
    .scientists-grid {
        grid: "header header" 50px "expButton artButton" 80px "addButton addButton" 50px "content content";
        grid-template-columns: 1fr 1fr;
    }

    .scientists-grid__add {
        width: auto;
    }
}

@media (max-width: 400px) {
    .scientists-grid {
        grid: "header" 75px "expButton" 65px "artButton" 65px "addButton" 65px "content";
    }

    .grid-button {
        margin: auto;
    }

    .scientists-grid__add{
        margin-top: 10px;
    }

    .employee-info {
        margin-top: 0;
    }
}