@import "../common.css";
@import "../mobile-burger.css";

body {
    margin: 0;
}

.grid-button {
    margin: auto;
    text-align: center;
    width: 15vw;
}

.content {
    text-align: center;
    margin-top: 84px;
}

.content__item {
    margin: 20px auto auto auto;
    border: 2px solid black;
    width: 70%;
}

.content__header {
    padding: 12px 12px 10px;
    border-bottom: 2px solid;
    display: flex;
}

.header-text {
    width: 100%;
    line-height: 22px;
}

.button_row {
    margin: 10px 15px;
}

.content__main {
    word-break: break-word;
    text-align: left;
    padding: 12px;
}

.content__main_article {
    text-align: center;
}

.content-icon {
    width: 25px;
    height: 25px;
}

@media (max-width: 1000px) {
    .grid-button {
        font-size: 18px;
        width: 12vw;
        padding: 10px 15px;
    }

    .experiments-button {
        width: 14vw;
    }

    .add-button {
        width: 18.3vw;
    }

    .content__item {
        width: 80%
    }
}

@media (max-width: 700px) {
    .flex-row-center {
        flex-direction: column;
    }

    .content__item {
        width: 92%
    }

    .grid-button {
        width: 80vw;
        margin-top: 25px;
        font-size: 22px;
    }

    .button_row {
        margin: 7px 15px;
    }

    .button_profile {
        margin-top: 25px;
        width: 80vw;
        font-size: 22px;
    }
}