<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrators/admin__vacancies.css}">
    <title>MNU</title>
</head>
<body>
<div class="fixed-header fixed-header_small">
    <div id="header_mobile" class="flex-row-center-left">
        <img th:src="@{/images/burger.png}" id="burger" class="burger icon">
        <div class="mobile-title">Vacancies</div>
    </div>
    <div id="mobile-menu" class="mobile-buttons-row">
        <a th:href="@{/admin/main}">
            <img alt="back" th:src="@{/images/back.png}" class="button button_back button_round">
        </a>
        <a th:href="@{/admin/main}" class="grid-button button button_back_mobile">Main menu</a>
        <div class="grid-button button button_pressed"> All vacancies</div>
        <a th:href="@{/admin/vacancies/requests}" class="grid-button button">
            Requests
            <div class="notification-number" th:if="${new_vac_count > 0}" th:text="${new_vac_count}"></div>
        </a>
        <a th:href="@{/admin/vacancies/new}" class="grid-button button"> New vacancy</a>
    </div>
</div>

<div class="content">
    <div class="flex-column form-item gray" th:if="${vacancies == null or vacancies.isEmpty()}">
        There are no vacancies
    </div>
    <div class="vacancy-item light-gray-bg" th:each="vacancy : ${vacancies}">
        <div class="flex-column-no-center">
            <div class="font-big" th:text="${vacancy.title}">
            </div>
            <div class="form-item_big flex-row-between">
                <b>Salary</b>
                <div th:text="${vacancy.salary}"></div>
            </div>
            <div class="form-item flex-row-between">
                <b>Required karma</b>
                <div th:text="${vacancy.requiredKarma}"></div>
            </div>
            <div class="form-item flex-row-between">
                <b>Working hours/week</b>
                <div th:text="${vacancy.workHoursPerWeek}"></div>
            </div>
            <div class="form-item flex-row-between">
                <b>Vacant places</b>
                <div th:text="${vacancy.vacantPlaces}"></div>
            </div>
        </div>
    </div>
</div>
<script rel="script" type="text/javascript" th:src="@{/js/mobileMenu.js}"></script>
</body>
</html>