<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrators/admin__district.css}">
    <title>MNU</title>
</head>
<body>
<div class="grid">
    <div class="flex-row header">
        <a th:href="@{/admin/main}">
            <img alt="back" th:src="@{/images/back.png}" class="icon button_back button_round">
        </a>
        <div class="employee-info">
            <div th:text="${fullname}"></div>
            <div th:text="${'Level ' + level}"></div>
        </div>
    </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <!-- ДУМОЕМ................................................ -->
        </svg>
    </div>
</div>
</body>
</html>