<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrators/admin__prawn-registration.css}">
    <title>MNU</title>
</head>
<body>
<div class="flex-row-left header">
    <a th:href="@{/admin/main}">
        <img alt="back" th:src="@{/images/back.png}" class="button button_back button_round">
    </a>
</div>
<form action="#" th:action="@{/admin/registerPrawn}" th:object="${form}" method="post"
      class="flex-column registration-box">
    <label class="form-item">
        <b>Name</b>
        <input th:required="true" th:field="*{name}" class="input_big">
    </label>
    <label class="form-item">
        <b>Login</b>
        <input th:required="true" th:field="*{username}" class="input_big">
    </label>
    <label class="form-item">
        <b>Password</b>
        <input th:required="true" th:field="*{password}" type="password" class="input_big">
    </label>
    <input type="submit" class="form-item button" value="Register">
</form>
</body>
</html>