<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrators/admin__prawn-registration.css}">
    <title>MNU</title>
</head>
<body>
    <div class="flex-row admin-header">
        <a th:href="@{/adminMenu}">
            <img alt="back" th:src="@{/images/back.png}" class="icon back-button round-button button_unpressed">
        </a>
        <div class="employee-info"> Name Surname <br> Level: x</div>
    </div>
    <form action="#" th:action="@{/admin/registerPrawn}" th:object="${form}" method="post" class="flex-column registration-box">
        <input th:field="*{username}" class="registration-item input_big" placeholder="Login">
        <input th:field="*{password}" type="password" class="registration-item input_big" placeholder="Password">
        <input th:field="*{name}" class="registration-item input_big" placeholder="Name">
        <input type="submit" class="registration-item button button_unpressed" value="Register">
    </form>
</div>
</body>
</html>