<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/administrators/admin__vacancies.css}">
    <title>MNU</title>
</head>
<body>
<div class="fixed-header fixed-header_small">
    <div id="header_mobile" class="flex-row-center-left">
        <img th:src="@{/images/burger.png}" id="burger" class="burger icon">
        <div class="mobile-title">Vacancy requests</div>
    </div>
    <div id="mobile-menu" class="mobile-buttons-row">
        <a th:href="@{/admin/main}">
            <img alt="back" th:src="@{/images/back.png}" class="button button_back button_round">
        </a>
        <a th:href="@{/admin/main}" class="grid-button button button_back_mobile">Main menu</a>
        <a th:href="@{/admin/vacancies}" class="grid-button button"> All vacancies</a>
        <div class="grid-button button button_pressed"> Requests</div>
        <a th:href="@{/admin/vacancies/new}" class="grid-button button"> New vacancy</a>
    </div>
</div>

<div class="content">
    <div class="form-item gray" th:if="${requests == null or requests.isEmpty()}">
        There are no new requests
    </div>
    <div th:each="request: ${requests}" th:id="${'request-content-' + request.id}"
         class="vacancy-item vacancy-item_big light-gray-bg">
        <div class="font-big" th:text="${request.title}"></div>
        <div class="flex-column-no-center">
            <div class="form-item flex-row-between">
                <b>Salary</b>
                <div th:text="${request.salary}"></div>
            </div>
            <div class="form-item flex-row-between">
                <b>Required karma</b>
                <div th:text="${request.requiredKarma}"></div>
            </div>
            <div class="form-item flex-row-between">
                <b>Working hours/week</b>
                <div th:text="${request.workHoursPerWeek}"></div>
            </div>
            <div class="form-item flex-row-between">
                <b>Vacant places</b>
                <div th:text="${request.vacantPlaces}"></div>
            </div>
            <div class="form-item">
                <b th:text="${'Suggested by ' + request.client.name}"></b>
            </div>
            <div th:id="${'request-buttons-' + request.id}" class="form-item button-flex-row">
                <a th:attr="data-request-id=${request.id}" data-action="accept" class="button approved">Accept</a>
                <a th:attr="data-request-id=${request.id}" data-action="reject" class="button rejected">Reject</a>
            </div>
            <div th:id="${'request-flash-' + request.id}" class="flash hidden">
                <div th:id="${'request-flash-message-' + request.id}"></div>
                <button th:id="${'request-undo-' + request.id}" th:attr="data-request-id=${request.id}"
                        data-action="undo" class="form-item_small button">Undo 10
                </button>
            </div>
        </div>
    </div>
</div>
<script rel="script" type="text/javascript" th:src="@{/js/administrators/admin__vacancy-requests.js}"></script>
<script rel="script" type="text/javascript" th:src="@{/js/mobileMenu.js}"></script>
</body>
</html>