<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/shop.css}">
    <title>MNU</title>
</head>
<body>
<div class="desktop-header fixed-header fixed-header_small flex-row-between">
    <a class="feedback">Feedback</a>
    <div class="flex-row-center">You are logged in as ****
        <a th:href="@{/}">
            <img alt="Profile settings" class="shop-icon icon" th:src="@{/images/profile.png}">
        </a>
        <a th:href="@{/}">
            <img alt="History" class="shop-icon icon" th:src="@{/images/history.svg}">
        </a>
        <a th:href="@{/manufacturer/newProduct}">
            <img alt="Add item" class="shop-icon icon" th:src="@{/images/add_item.png}">
        </a>
        <a th:href="@{/}">
            <img alt="Cart" class="shop-icon icon" th:src="@{/images/cart.png}">
        </a>
    </div>
</div>

<div id="header_mobile" class="flex-row-center-left">
    <img id="burger" alt="departments" class="shop-icon icon burger" th:src="@{/images/burger.png}">
    <div class="mobile-title">CATEGORY</div>
</div>

<div class="grid">
    <div class="grid__departments-title flex-column">
        Departments
    </div>
    <div class="grid__search-bar flex-row-between">
        <span>
            <input type="search" class="search-bar-input" placeholder="Search..."
            ><button class="search-bar-button button">Go!</button>
        </span>
        <label class="search-bar-sorter flex-row-center">
            Sort by: &nbsp;
            <select class="input_big">
                <option selected>Price (asc.)</option>
                <option>Price (desc.)</option>
                <option>???</option>
                <option>???</option>
            </select>
        </label>
    </div>

    <div id="mobile-menu" class="grid__departments flex-column">
        <a th:href="@{/}"> Melee weapons </a>
        <a th:href="@{/}" class="form-item_big"> Pistols </a>
        <a th:href="@{/}" class="form-item_big"> SMGs </a>
        <a th:href="@{/}" class="form-item_big"> Assault riffles </a>
        <a th:href="@{/}" class="form-item_big"> Light machine guns </a>
        <a th:href="@{/}" class="form-item_big"> Sniper rifles </a>
        <a th:href="@{/}" class="form-item_big"> Alien weapon </a>
        <a th:href="@{/}" class="form-item_big"> Land transport </a>
        <a th:href="@{/}" class="form-item_big"> Air transport </a>
    </div>

    <div class="grid__catalogue">
    </div>
</div>

<div class="mobile-footer flex-row-around">
    <a th:href="@{/}">
        <img alt="Profile settings" class="shop-icon icon" th:src="@{/images/profile.png}">
    </a>
    <a th:href="@{/}">
        <img alt="History" class="shop-icon icon" th:src="@{/images/history.svg}">
    </a>
    <a th:href="@{/manufacturer/newProduct}">
        <img alt="Add item" class="shop-icon icon" th:src="@{/images/add_item.png}">
    </a>
    <a th:href="@{/}">
        <img alt="Cart" class="shop-icon icon" th:src="@{/images/cart.png}">
    </a>
    <a th:href="@{/}">
        <img alt="Feedback" class="shop-icon icon" th:src="@{/images/feedback.png}">
    </a>
</div>
<script rel="script" type="text/javascript" th:src="@{/js/mobileMenu.js}"></script>
</body>
</html>