@import url("../common.css");

.admin-header {
    grid-area: admin-header;
    margin-top: 5px;
}

.employee-info {
    margin: 5px 0 auto 0;
}

.grid-button {
    margin: 15px auto auto auto;
    height: 80px;
    text-align: center;
    font-size: 24px;
    width: 220px;
}

.administrators-menu-grid {
    display: grid;
    grid: "admin-header admin-header" 60px "district employees" "client-manufacturers experiments-articles" "prawn-vacancies prawn-job-applications" "prawn-registration synthesized-confiscated-weapons"
}

.administrators-menu-grid__district {
    grid-area: district;
    margin-right: 30px;
}

.administrators-menu-grid__experiments-articles {
    grid-area: experiments-articles;
    margin-left: 30px;
}

.administrators-menu-grid__clients-manufacturers {
    grid-area: client-manufacturers;
    margin-right: 30px;
}

.administrators-menu-grid__employees {
    grid-area: employees;
    margin-left: 30px;
}

.administrators-menu-grid__prawn-vacancies {
    grid-area: prawn-vacancies;
    margin-right: 30px;
}

.administrators-menu-grid__synthesized-confiscated-weapons {
    grid-area: synthesized-confiscated-weapons;
    margin-left: 30px;
}

.administrators-menu-grid__prawn-registration {
    grid-area: prawn-registration;
    margin-right: 30px;
}

.administrators-menu-grid__prawn-job-applications {
    grid-area: prawn-job-applications;
    margin-left: 30px;
}

@media (max-width: 700px) {
    .administrators-menu-grid {
        grid: "admin-header" 60px "district" "employees" "client-manufacturers" "experiments-articles" "prawn-vacancies" "prawn-job-applications" "prawn-registration" "synthesized-confiscated-weapons"
    }

    .grid-button {
        width: 75vw;
        height: 40px;
        margin: auto auto 15px auto;
    }
}

@media (max-width: 290px) {
    .administrators-menu-grid__synthesized-confiscated-weapons {
        height: 60px;
    }
}

@media (max-width: 208px) {
    .administrators-menu-grid__synthesized-confiscated-weapons{
        height: 90px;
    }

    .administrators-menu-grid__clients-manufacturers{
        height: 80px;
    }
}