@import url("../common.css");

.employee-header {
    grid-area: header;
}

.employee-info {
    margin: 5px 0 auto 0;
}

.grid {
    display: grid;
    grid: "header expButton artButton nothing" 50px "content content content content";
    grid-template-columns: 2fr 3fr 2.5fr 2.5fr;
    padding: 5px;
}

.grid__experiments {
    grid-area: expButton;
    margin-right: 20px;
}

.grid__articles {
    grid-area: artButton;
    margin-left: 20px;
}

.grid-button {
    margin: auto;
    text-align: center;
    font-size: 24px;
    width: 220px;
}

.button_row {
    margin: 0 15px;
}

.content {
    grid-area: content;
    text-align: center;
}

.content__item {
    margin: 20px auto auto auto;
    border: 2px solid black;
    width: 70%;
}

.content__header {
    padding: 12px 12px 10px;
    border-bottom: 2px solid;
    display: flex;
}

.header-text {
    width: 100%;
    line-height: 22px;
}

.content__main {
    word-break: break-word;
    text-align: left;
    padding: 12px;
}

.content-icon {
    width: 25px;
    height: 25px;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: 2fr 3fr 2.5fr 2.5fr;
    }

    .grid-button {
        width: 180px;
        font-size: 22px;
    }

    .grid__experiments {
        margin-right: 5px;
    }

    .grid__articles {
        margin-left: 5px;
    }
}

@media (max-width: 1000px) {
    .grid {
        grid: "header header" 50px "expButton artButton" 80px "content content";
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 400px) {
    .grid {
        grid: "header" 75px "expButton" 65px "artButton" 65px "content";
    }

    .grid-button {
        margin: auto;
    }

    .employee-info {
        margin-top: 0;
    }
}