@import "../common.css";
@import "../mobile-burger.css";

body {
    margin: 0;
}

.vacancy-item {
    display: inline-block;
    width: 240px;
    height: 240px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    padding: 12px;
    word-break: break-word;
    margin: 20px;
    float: left;
}

.vacancy-item_big {
    width: 320px;
    height: 320px;
}

.content {
    text-align: center;
    padding: 0 4vw;
    margin-top: 100px;
}

.submit {
    margin: 20px auto;
}

.content_form {
    text-align: left;
    width: 250px;
}

.button-flex-row {
    display: flex;
    justify-content: center;
}

.button-flex-row * {
    margin: 0 15px;
}


.grid-button {
    width: 13vw;
    margin: auto;
    text-align: center;
}

@media (max-width: 1000px) {
    .grid-button {
        width: 17vw;
    }
}

@media (max-width: 700px) {
    .content {
        margin-top: 85px;
        padding: 0 1vw;
    }

    .grid-button {
        margin: 15px auto;
        font-size: 22px;
        width: 80vw;
    }

    .button-flex-row * {
        font-size: 18px;
        margin: 0 6px;
    }

    .vacancy-item {
        float: none;
        margin: 10px;
    }
}

@media (max-width: 420px) {
    .vacancy-item_big {
        width: 250px;
    }
}