@import url("../common.css");

.registration-box {
    margin-top: 100px;
    padding: 35px;
}

.admin-header {
    grid-area: admin-header;
    margin-top: 5px;
}

.employee-info {
    margin: 5px 0 auto 0;
}