@import "../common.css";

.grid {
    display: grid;
    grid: "admin-header admin-header" 80px "table table" "buttons inputs";
    grid-template-columns: 1fr 9fr;
    row-gap: 10px;
}

.header {
    grid-area: admin-header;
    margin-top: 5px;
}

.button_back {
    margin-top: -5px;
    margin-right: 15px;
}

