body {
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
}

.roundButton {
    padding: 9px;
    border: 1px solid black;
    border-radius: 100px;
    color: black;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.adminEmployeesGrid {
    display: grid;
    grid: "adminHeader adminHeader" 80px "table table" "buttons inputs";
    grid-template-columns: 1fr 9fr;
    row-gap: 10px;
}

.admin-employees-grid__table {
    grid-area: table;
}

.admin-employees-grid__table table {
    border-collapse: collapse;
}

.admin-employees-grid__table td {
    padding: 3px 6px;
    border: 1px solid black;
}

.admin-employees-grid__buttons {
    grid-area: buttons;
    display: grid;
    grid: "add edit" "find reward";
    row-gap: 10px;
    column-gap: 15px;
}

#add-button{
    grid-area: add;
}

#edit-button{
    grid-area: edit;
}

#reward-button{
    grid-area: reward;
}

#find-button{
    grid-area: find;
}

.admin-employees-grid__inputs {
    grid-area: inputs;
}

.admin-employees-grid__inputs_add {

}

.add-employees-inputs-grid {
    display: grid;
    grid: "name name type position" "lvl salary type button";
    grid-template-columns: 2fr 2fr 1fr 2fr;
    column-gap: 5px;
    row-gap: 5px;
}

.add-employees-inputs-grid__name {
    grid-area: name;
}

.add-employees-inputs-grid__lvl {
    grid-area: lvl;
}

.add-employees-inputs-grid__salary {
    grid-area: salary;
}

.add-employees-inputs-grid__position {
    grid-area: position;
}

.add-employees-inputs-grid__type {
    grid-area: type;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-employees-inputs-grid__button {
    grid-area: button;
}

.admin-employees-grid__inputs_edit {
    display: none;
}

.admin-employees-grid__inputs_find {
    display: none;
}

.admin-employees-grid__inputs_reward {
    display: none;
}

.grid--adminHeader {
    grid-area: adminHeader;
    margin-top: 5px;
}

.empInfo {
    margin: 5px 0 auto 0;
}

.empNotifications {
    cursor: pointer;
    margin: 5px auto auto 20px;
}

.gridButton {
    margin: 15px auto auto auto;
    height: 80px;
    text-align: center;
    font-size: 24px;
    width: 220px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 50px;
    height: 50px;
}

.backButton {
    margin-top: -5px;
    margin-right: 15px;
}

.bigInput {
    font-size: 16px;
    height: 25px;
}

.button {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px 22px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.buttonUnpressed {
    box-shadow: 0 5px #cacaca;
    background: white;
}

.buttonUnpressed:hover {
    top: 2px;
    box-shadow: 0 3px #cacaca;
}

.buttonUnpressed:active {
    top: 5px;
    box-shadow: none;
}

.buttonPressed {
    outline: none;
    background: lightgreen;
    cursor: default;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.administratorsGrid {
    display: grid;
    grid: "adminHeader adminHeader" 60px "districtButton empButton" "clientManufacturersButton expArtButton" "prawnVacButton prawnJobApplicationsButton" "prawnRegisterButton synthConfWeaponsButton"
}

.grid--districtButton {
    grid-area: districtButton;
    margin-right: 30px;
}

.grid--expArtButton {
    grid-area: expArtButton;
    margin-left: 30px;
}

.grid--clientManufacturersButton {
    grid-area: clientManufacturersButton;
    margin-right: 30px;
}

.grid--empButton {
    grid-area: empButton;
    margin-left: 30px;
}

.grid--prawnVacButton {
    grid-area: prawnVacButton;
    margin-right: 30px;
}

.grid--synthConfWeaponsButton {
    grid-area: synthConfWeaponsButton;
    margin-left: 30px;
}

.grid--prawnRegisterButton {
    grid-area: prawnRegisterButton;
    margin-right: 30px;
}

.grid--prawnJobApplicationsButton {
    grid-area: prawnJobApplicationsButton;
    margin-left: 30px;
}

@media (max-width: 1000px) {
    .empNotifications {
        margin: 5px 0 auto auto;
    }
}

@media (max-width: 700px) {
    .administratorsGrid {
        grid: "adminHeader" 60px "districtButton" "empButton" "clientManufacturersButton" "expArtButton" "prawnVacButton" "prawnJobApplicationsButton" "prawnRegisterButton" "synthConfWeaponsButton"
    }

    .gridButton {
        width: auto;
        height: 40px;
        margin: auto auto 15px auto;
    }
}

@media (max-width: 250px) {
    .grid--synthConfWeaponsButton {
        height: 60px;
    }
}