body {
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
}

.round-button {
    padding: 9px;
    border: 1px solid black;
    border-radius: 100px;
    color: black;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.admin-employees-grid {
    display: grid;
    grid: "admin-header admin-header" 80px "table table" "buttons inputs";
    grid-template-columns: 1fr 9fr;
    row-gap: 10px;
}

.admin-employees-grid__table {
    grid-area: table;
}

.admin-employees-grid__table table {
    border-collapse: collapse;
}

.admin-employees-grid__table td {
    padding: 3px 6px;
    border: 1px solid black;
}

.admin-employees-grid__buttons {
    grid-area: buttons;
    display: grid;
    grid: "add edit" "find reward";
    row-gap: 10px;
    column-gap: 15px;
}

#add-button{
    grid-area: add;
}

#edit-button{
    grid-area: edit;
}

#reward-button{
    grid-area: reward;
}

#find-button{
    grid-area: find;
}

.admin-employees-grid__inputs {
    grid-area: inputs;
}

.admin-employees-grid__inputs_add {

}

.add-employees-inputs-grid {
    display: grid;
    grid: "name name type position" "lvl salary type button";
    grid-template-columns: 2fr 2fr 1fr 2fr;
    column-gap: 5px;
    row-gap: 5px;
}

.add-employees-inputs-grid__name {
    grid-area: name;
}

.add-employees-inputs-grid__lvl {
    grid-area: lvl;
}

.add-employees-inputs-grid__salary {
    grid-area: salary;
}

.add-employees-inputs-grid__position {
    grid-area: position;
}

.add-employees-inputs-grid__type {
    grid-area: type;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-employees-inputs-grid__button {
    grid-area: button;
}

.admin-employees-grid__inputs_edit {
    display: none;
}

.admin-employees-grid__inputs_find {
    display: none;
}

.admin-employees-grid__inputs_reward {
    display: none;
}

.admin-header {
    grid-area: admin-header;
    margin-top: 5px;
}

.employee-info {
    margin: 5px 0 auto 0;
}

.employee-notifications {
    cursor: pointer;
    margin: 5px auto auto 20px;
}

.grid-button {
    margin: 15px auto auto auto;
    height: 80px;
    text-align: center;
    font-size: 24px;
    width: 220px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 50px;
    height: 50px;
}

.back-button {
    margin-top: -5px;
    margin-right: 15px;
}

.input_big {
    font-size: 16px;
    height: 25px;
}

.button {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px 22px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.button_unpressed {
    box-shadow: 0 5px #cacaca;
    background: white;
}

.button_unpressed:hover {
    top: 2px;
    box-shadow: 0 3px #cacaca;
}

.button_unpressed:active {
    top: 5px;
    box-shadow: none;
}

.button_pressed {
    outline: none;
    background: lightgreen;
    cursor: default;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.administrators-menu-grid {
    display: grid;
    grid: "admin-header admin-header" 60px "district employees" "client-manufacturers experiments-articles" "prawn-vacancies prawn-job-applications" "prawn-registration synthesized-confiscated-weapons"
}

.administrators-menu-grid__district {
    grid-area: district;
    margin-right: 30px;
}

.administrators-menu-grid__experiments-articles {
    grid-area: experiments-articles;
    margin-left: 30px;
}

.administrators-menu-grid__clients-manufacturers {
    grid-area: client-manufacturers;
    margin-right: 30px;
}

.administrators-menu-grid__employees {
    grid-area: employees;
    margin-left: 30px;
}

.administrators-menu-grid__prawn-vacancies {
    grid-area: prawn-vacancies;
    margin-right: 30px;
}

.administrators-menu-grid__synthesized-confiscated-weapons {
    grid-area: synthesized-confiscated-weapons;
    margin-left: 30px;
}

.administrators-menu-grid__prawn-registration {
    grid-area: prawn-registration;
    margin-right: 30px;
}

.administrators-menu-grid__prawn-job-applications {
    grid-area: prawn-job-applications;
    margin-left: 30px;
}

@media (max-width: 1000px) {
    .employee-notifications {
        margin: 5px 0 auto auto;
    }
}

@media (max-width: 700px) {
    .administrators-menu-grid {
        grid: "admin-header" 60px "district" "employees" "client-manufacturers" "experiments-articles" "prawn-vacancies" "prawn-job-applications" "prawn-registration" "synthesized-confiscated-weapons"
    }

    .grid-button {
        width: auto;
        height: 40px;
        margin: auto auto 15px auto;
    }
}

@media (max-width: 250px) {
    .administrators-menu-grid__synthesized-confiscated-weapons {
        height: 60px;
    }
}