body {
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
}

.input_big {
    font-size: 16px;
    height: 25px;
}

.button {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px 22px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.button_unpressed {
    box-shadow: 0 5px #cacaca;
    background: white;
}

.button_unpressed:hover {
    top: 2px;
    box-shadow: 0 3px #cacaca;
}

.button_unpressed:active {
    top: 5px;
    box-shadow: none;
}

.button_pressed {
    outline: none;
    background: lightgreen;
    cursor: default;
}

.shop-header-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    float: right;
}

.shop-grid {
    display: grid;
    padding: 0 20px;
    grid: "departments-title search-bar" 60px "departments catalogue";
    grid-template-columns: 1.5fr 8.5fr;
    column-gap: 15px;
}

.shop-grid__departments-title {
    grid-area: departments-title;
    border: 2px solid black;
    border-top: none;
}

.shop-grid__search-bar {
    grid-area: search-bar;
    margin-top: 15px;
}

.shop-grid__search-bar_input {
    margin-left: 15px;
    border-radius: 10px 0 0 10px;
}

.shop-grid__search-bar_button {
    border-radius: 0 10px 10px 0;
    padding: 3px 15px;
}

.shop-grid__search-bar_sorter {
    float: right;
    margin-right: 15px;
}

.shop-header {
    border-bottom: 2px solid black;
    height: 55px;
}

.shop-mobile-footer {
    display: none;
    grid: "profile history cart feedback";
    column-gap: 15px;
    border-top: 2px solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.shop-mobile-footer img {
    margin: 5px auto auto auto;
}

.shop-grid__departments {
    grid-area: departments;
    overflow-y: auto;
}

.shop-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.cart {
    margin-right: 20px;
}

.feedback {
    margin-left: 20px;
    color: blue;
    font-style: italic;
    text-decoration: none;
    top: 10px;
    position: relative;
}

.feedback:hover {
    text-decoration: underline;
}

.feedback_mobile {
    grid-area: feedback;
}

.cart_mobile {
    grid-area: cart;
}

.history_mobile {
    grid-area: history;
}

.profile_mobile {
    grid-area: profile;
}

.shop-grid__shop-catalogue {
    grid-area: catalogue;
    overflow-y: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.burger {
    display: none;
    margin: auto auto auto 10px;
    position: fixed;
    top: 5px;
    left: 0;
}

.department-title {
    display: none;
    text-align: center;
    font-size: 20px;
    grid-area: department-title;
    height: 60px;
}

.hidden {
    display: none;
}

@media (max-width: 700px) {
    .shop-grid {
        grid: "department-title" "search-bar" "catalogue";
        grid-template-columns: 100%;
        grid-column-gap: 0;
        padding: 0;
    }

    .shop-header {
        display: none;
    }

    .shop-mobile-footer {
        display: grid;
    }

    .department-title {
        display: flex;
    }

    .burger {
        display: block;
    }

    .shop-grid__departments-title {
        display: none;
    }

    .shop-grid__search-bar_input {
        width: 20vw;
    }
}

@media (max-width: 360px) {
    .shop-grid__search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .shop-grid__search-bar_sorter {
        margin-top: 10px;
    }

    .shop-grid__search-bar_input {
        width: 40vw;
    }

    .department-title {
        margin-left: 40px;
    }
}

@media (max-width: 260px) {
    .shop-mobile-footer {
        grid-column-gap: 0;
    }

    .shop-icon {
        width: 40px;
        height: 40px;
    }

    .burger {
        top: 10px;
    }
}

@media (max-width: 240px) {
    .department-title {
        margin-top: 35px;
        margin-left: 0;
    }

    .shop-grid__search-bar_sorter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}