<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scientists/sci__main.css}">
    <title>MNU</title>
</head>
<body>
<div class="fixed-header">
    <div id="header_mobile" class="flex-row-center-left">
        <img th:src="@{/images/burger.png}" id="burger" class="burger icon">
        <div class="mobile-title">Articles</div>
    </div>
    <div id="mobile-menu" class="mobile-buttons-row">
        <a th:href="@{/profile}" class="flex-column button button_profile">
            Profile
        </a>
        <a th:href="@{/sci/main}" id="experiments-button" class="experiments-button grid-button button">
            Experiments
        </a>
        <div class="grid-button button button_pressed">
            Articles
        </div>
        <a th:href="@{/sci/main/requests}" class="grid-button button">
            Requests
            <div class="notification-number" th:if="${experimentCount > 0}" th:text="${experimentCount}"></div>
        </a>
        <a th:href="@{/sci/article}" class="add-button grid-button button">
            Write article
        </a>
    </div>
</div>


<div class="content">
    <div th:if="${status}" th:text="${status}" class="flash flash_success"></div>
    <div class="flex-column">
        <div class="form-item_big gray" th:if="${articles == null or articles.isEmpty()}">
            You didn't write any articles
        </div>
    </div>
    <div th:each="article : ${articles}" class="content__item">
        <div class="content__header finished">
            <div class="header-text">
                <span th:text="${'Article #' + article.id + ' '}"></span> <b th:text="${article.title}"></b>
                <div class="date-to-format" th:text="${article.creationDate}"></div>
            </div>
        </div>
        <div class="content__main content__main_article">
            <div th:text="${article.text}"></div>
        </div>
    </div>
</div>
<script rel="script" type="text/javascript" th:src="@{/js/scientists/sci__main.js}"></script>
<script rel="script" type="text/javascript" th:src="@{/js/formatDateTime.js}"></script>
<script rel="script" type="text/javascript" th:src="@{/js/mobileMenu.js}"></script>
</body>
</html>