<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scientists/sci__main.css}">
    <title>MNU</title>
</head>
<body>
<div class="scientists-grid">
    <div class="employee-header">
        <div class="employee-info"> Name Surname <br> Level x</div>
    </div>
    <div class="scientists-grid__experiments grid-button button button_pressed">
        Experiments
    </div>
    <a th:href="@{/sci/main/articles}" class="scientists-grid__articles grid-button button">
        Articles
    </a>
    <a th:href="@{/sci/experiment}" class="scientists-grid__add grid-button button">
        Add Experiment
    </a>

    <div class="content">
        <div th:each="exp: ${experiments}" class=" content__item">
            <div th:class="content__header"
                 th:classappend="|${exp.status.name()=='PENDING' ? 'waiting' : exp.status.name()=='APPROVED' ? 'running' : exp.status.name()=='REJECTED' ? 'rejected' : 'finished'}|">
                <div th:switch="${exp.status.name()}">
                    <img th:case="PENDING" class="content-icon" alt="pending" th:src="@{/images/clock.png}">
                    <img th:case="APPROVED" class="content-icon" alt="approved" th:src="@{/images/pencil.png}">
                    <img th:case="REJECTED" class="content-icon" alt="rejected" th:src="@{/images/x_mark.png}">
                    <img th:case="FINISHED" class="content-icon" alt="finished" th:src="@{/images/tick.png}">
                </div>
                <span class="header-text">
                    <span th:text="${exp.type.name()} == 'MAJOR' ? 'Major' : 'Minor'"></span> Exp. #<span
                        th:text="${exp.id}"></span> <b><span th:text="${exp.title}"></span></b>
                </span>
            </div>
            <div class="content__main" th:switch="${exp.status.name()}">
                <div th:if="${exp.assistant}">
                    <b>Assistant</b>
                    <div th:text="${exp.assistant.employee.name}"></div>
                </div>
                    <div th:case="PENDING">
                        <b>Submitted on </b>
                    </div>
                    <div th:case="APPROVED">
                        <b>Approved on </b>
                    </div>
                    <div th:case="REJECTED">
                        <b> Rejected on </b>
                    </div>
                    <div th:case="FINISHED">
                        <b> Finished on </b>
                    </div>
                <div th:text="${exp.date}"></div>
                <b>Description</b>
                <div th:text="${exp.description}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>