<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scientists/sci__main.css}">
    <title>MNU</title>
</head>
<body>
<div class="scientists-grid">
    <div class="employee-header">
        <div class="employee-info"> Name Surname <br> Level x</div>
    </div>
    <div id="experiments-button" class="scientists-grid__experiments grid-button button button_pressed">
        Experiments
    </div>
    <a th:href="@{/sci/main/articles}" id="articles-button" class="scientists-grid__articles grid-button button">
        Articles
    </a>
    <a id="new-experiment-button" th:href="@{/sci/experiment}" class="scientists-grid__add grid-button button">
        Add Experiment
    </a>

    <div class="content">
        <div class=" content__item">
            <div class="content__header rejected">
                <img class="content-icon" alt="rejected" th:src="@{/images/x_mark.png}">
                <span class="header-text">
                    Minor Exp. #NaN <b>EXPERIMENT TITLE</b>
                </span>
            </div>
            <div class="content__main">
                <b>Assistant</b> <br>
                ASSISTANT NAME <br>
                <b>Description</b> <br>
                DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
                DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION
            </div>
        </div>
    </div>
</div>
</body>
</html>