<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scientists/sci__new-article.css}">
    <title>MNU</title>
</head>
<body>
<div class="flex-row">
    <a th:href="@{/sci/main}">
        <img alt="back" th:src="@{/images/back.png}" class="icon back-button round-button button_unpressed">
    </a>
    <div class="info"> Name Surname <br> Level: x</div>
</div>
<form action="#" th:action="@{article}" th:object="${form}" method="post" class="flex-column article-form">
    <input th:field="*{title}" class="input_big" placeholder="Title">
    <textarea th:field="*{article}" class="text-area_big input_big" placeholder="Article"></textarea>
    <input type="submit" class="button button_unpressed" value="Submit article">
</form>
</body>
</html>