<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scientists/sci__main.css}">
    <title>MNU</title>
</head>
<body>
<div id="header" class="fixed-header">
    <div id="header_mobile" class="flex-row-left hidden">
        <img th:src="@{/images/burger.png}" id="burger" class="burger icon">
        <div id="mobile-title" class="mobile-title">Requests</div>
    </div>
    <div id="mobile-menu" class="flex-row">
        <div class="employee-info"> Name Surname <br> Level x</div>
        <a th:href="@{/sci/main}" class="experiments-button grid-button button">
            Experiments
        </a>
        <a th:href="@{/sci/main/articles}" class="grid-button button">
            Articles
        </a>
        <div class="grid-button button button_pressed">
            Requests
        </div>
        <a th:href="@{/sci/experiment}" class="add-button grid-button button">
            Add Experiment
        </a>
    </div>
</div>

<div class="content">

</div>
<script rel="script" type="text/javascript" th:src="@{/js/scientists/sci__main.js}"></script>
</body>
</html>