<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scientists/sci__main.css}">
    <title>MNU</title>
</head>
<body>
<div th:if="${status}" th:text="${status}" class="flash flash_success"></div>
<div class="scientists-grid">
    <div class="employee-header">
        <div class="employee-info"> Name Surname <br> Level x</div>
    </div>
    <div class="scientists-grid__experiments grid-button button">
        Experiments
    </div>
    <a th:href="@{/sci/main/articles}" class="scientists-grid__articles grid-button button">
        Articles
    </a>
    <a th:href="@{/sci/main/requests}" class="scientists-grid__requests grid-button button button_pressed">
        Requests
    </a>
    <a th:href="@{/sci/experiment}" class="scientists-grid__add grid-button button">
        Add Experiment
    </a>

    <div class="content">

    </div>
</div>
</body>
</html>