<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scientists/sci__main.css}">
    <title>MNU</title>
</head>
<body>
<div class="scientists-grid">
    <div class="employee-header">
        <div class="employee-info"> Name Surname <br> Level x</div>
    </div>
    <div class="scientists-grid__experiments grid-button button button_pressed">
        Experiments
    </div>
    <a th:href="@{/sci/main/articles}" class="scientists-grid__articles grid-button button">
        Articles
    </a>
    <a th:href="@{/sci/experiment}" class="scientists-grid__add grid-button button">
        Add Experiment
    </a>

    <div class="content">
        <div th:each="exp: ${experiments}" class=" content__item">
            <div class="content__header">
                <img class="content-icon" alt="rejected" th:src="@{/images/x_mark.png}">
                <img class="content-icon">
                <span class="header-text">
                    <span th:text="${exp.type} == 'MAJOR' ? 'Major' : 'Minor'"></span> Exp. #<span th:text="${exp.id}"></span> <b>EXPERIMENT TITLE</b>
                </span>
            </div>
            <div class="content__main">
                <b>Assistant</b>
                <div th:text="${exp.assistant.employee.name}">ASSISTANT NAME</div>
                <b>Description</b>
                <div th:text="${exp.description}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>