<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/scientists/sci__new-article.css}">
    <title>MNU</title>
</head>
<body>
<div th:if="${error}" th:text="${error}" class="flash flash_error"></div>
<div class="flex-row-left">
    <a th:href="@{/sci/main}">
        <img alt="back" th:src="@{/images/back.png}" class="button button_back button_round">
    </a>
</div>
<form action="#" th:action="@{article}" th:object="${form}" method="post" class="flex-column">
    <label class="form-item">
        <b>Title</b>
        <input required th:field="*{title}" class="input_big">
    </label>
    <label class="form-item">
        <b>Article</b>
        <textarea required th:field="*{article}" class="text-area_big input_big"></textarea>
    </label>
    <input type="submit" class="button form-item" value="Submit article">
</form>
</body>
</html>