<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prawns/prawn__main.css}">
    <title>MNU</title>
</head>
<body>
<div class="prawn-header">
    <b>Name</b>
    Job name
    Logout <img alt="logout" th:src="@{/images/logout.png}">
</div>
<div class="flex-column">
    <img alt="karma" th:src="@{/images/karma.png}"> 999999
    <button>
        <img alt="vacancies" th:src="@{/images/job.png}">
        Apply for a job
    </button>
</div>
<div class="flex-column">
    <img alt="money" th:src="@{/images/gold_coin.png}"> 99999
    <button>
        <img alt="store" th:src="@{/images/prawn_cart.png}">
        Buy items
    </button>
</div>

</body>
</html>