body {
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
}

.login-page {
    overflow: hidden;
}

.login-page__box {
    margin-top: -200px;
    border: 1px solid black;
    padding: 35px;
}

.login-page__item {
    margin-top: 15px;
}

.login-page__item:first-child{
    margin-top: 0;
}

.login-page__checkbox {
    font-size: 16px;
}

.checkbox {
    width: 16px;
    height: 16px;
}

.registration-checkbox {
    margin-right: 15px;
}

.login-page__back-link {
    text-decoration: none;
    margin-right: 160px;
    color: blue;
    cursor: pointer;
}

.login-page__back-link:hover {
    text-decoration: underline;
}

.checkbox-flex {
    display: flex;
}

.input_big {
    display: block;
    font-size: 16px;
    height: 25px;
}

.button {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px 22px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 5px #cacaca;
    background: white;
}

.button:hover:not(.button_pressed) {
    top: 2px;
    box-shadow: 0 3px #cacaca;
}

.button:active:not(.button_pressed) {
    top: 5px;
    box-shadow: none;
}

.button_pressed {
    box-shadow: none;
    outline: none;
    background: lightgreen;
    cursor: default;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

@media (max-height: 850px) {
    .login-page__box {
        margin-top: 0;
    }
}

@media (max-width: 350px) {
    .login-page__box {
        border: none;
    }

    .input_big {
        width: 75vw;
        height: 40px;
    }

    .checkbox-flex {
        flex-direction: column;
    }

    .login-page__back-link {
        margin-right: 55vw
    }

    .login-page__box {
        padding: 0;
    }

    .registration-checkbox {
        margin-right: 0;
    }
}




