@import "common.css";

body {
    margin: 0;
}

.content {
    text-align: center;
    margin-top: 106px;
}

.content__item {
    word-break: break-word;
    width: 650px;
    margin: 20px auto auto auto;
    border: 2px solid black;
    padding: 12px;
}

h1 {
    margin: 0;
    width: 100%;
    text-align: center;
}

.margin-right{
    margin-right: 40px;
}

@media (max-width: 750px) {
    .content__item {
        width: 90vw;
    }
}