<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}">
    <title>MNU</title>
</head>
<body class="login-page">
<div sec:authorize="isAuthenticated()">
    welcome........
    <span sec:authentication="name"></span>
    <a th:href="@{/auth/logout}">logout</a>
</div>
<div sec:authorize="!isAuthenticated()">
    Goodbye despair
    <a th:href="@{/auth/login}">login retard</a>
</div>
</body>
</html>