<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}">
    <title>MNU</title>
</head>
<body class="login-page">
<div class="flex-column" style="height: 100vh">
    <form action="#" method="post" th:action="@{/auth/login}" th:object="${form}" class="flex-column login-page__box">
        <label class="login-page__item">
            <b>Login</b>
            <input th:field="*{username}" class="input_big">
        </label>
        <label class="login-page__item">
            <b>Password</b>
            <input th:field="*{password}" type="password" class="input_big">
        </label>
        <input type="submit" class="login-page__item button" value="Log in">
        <a class="login-page__item button" th:href="@{/auth/register}">Register</a>
    </form>
</div>
</body>
</html>