<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}">
    <title>MNU</title>
</head>
<body class="login-page">
<div class="flex-column" style="height: 100vh">
    <form action="#" th:action="@{/auth/register}" th:object="${form}" method="post" class="flex-column login-page__box">
        <a class="login-page__back-link" th:href="@{/auth/login}">< back</a>
        <input th:field="*{username}" class="login-page__item input_big" placeholder="Login">
        <input th:field="*{password}" type="password" class="login-page__item input_big" placeholder="Password">
        <input th:field="*{email}" type="email" class="login-page__item input_big" placeholder="Email">
        <input th:field="*{name}" class="login-page__item input_big" placeholder="Name">
        <div class="checkbox-flex">
            <div class="registration-checkbox">
                <input th:field="*{type}" th:value="customer" id="customerRadio" type="radio" name="clientType" class="login-page__item checkbox">
                <label class="login-page__checkbox" for="customerRadio">Customer</label>
            </div>
            <div class="registration-checkbox">
                <input th:field="*{type}" th:value="manufacturer" id="manufacturerRadio" type="radio" name="clientType" class="login-page__item checkbox">
                <label class="login-page__checkbox" for="manufacturerRadio">Manufacturer</label>
            </div>
        </div>
        <input type="submit" class="login-page__item button button_unpressed" value="Register">
    </form>
</div>
</body>
</html>