<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/securityMain.css}">
    <title>MNU</title>
</head>
<body>
<div class="security-grid">
    <div class="employee-info security-grid__header"> Name Surname <br> Level: x</div>
    <div class="security-flex-row security-grid__security-buttons">
        <a class="security-buttons__change grid-button button button_unpressed">Change <br> equipment</a>
        <a class="security-buttons_report grid-button button button_unpressed">Report on <br> a confiscated weapon</a>
    </div>
</div>
</body>
</html>